<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>

  <h1>Welcome to Sickkapedia</h1>

  <a href="/authors">All Authors</a>
  <a href="/documents">All Documents</a>

</body>
</html>