<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <h1>Welcome to the Wiki page from 1995</h1>

  <ol>
  <li><a href="/authors">Authors</a></li>
  <li><a href="/documents">Documents</a></li>
  </ol>

</body>
</html>