<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authors</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <header>
  <a href="/">Home</a>
  </header>

  <br>
  <br>

  <a href="/authors/new">Create an Author here</a>

  <p>Authors:</p>
  <ul>
      <% authors.each do |author| %>
        <li>
            <a href="/authors/<%= author.id %>">
              <%= author.name %>
            </a>
        </li>
        <% end %>
  </ul>

  <a href="/documents/new">Create a Sickk Doc Here</a>

</body>
</html>