<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Author</title>
</head>
<body>

  <a href="/">Home</a>

  <br>
  <br>

  <form action="/authors" method="POST">
    <input type="text" name="name" placeholder= "Name"/>
    <input type="age" name="age" placeholder= "Age" />

  <button>Submit</button>
  </form>

</body>
</html>