<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Documents</title>
</head>
<body>

  <a href="/">Home</a>


  <h3>Search for a Document</h3>
  <form action="/documents/searchresults" method="GET">
    <input type="text" name="name" placeholder="Search">
    <select name="search_type">
      <option value="name">Title</option>
    </select>
    <button>Search</button>
  </form>

  <br>
  <br>

  <a href="/documents/new">Create a Sickk Doc here</a>

  <ul>
    <% documents.each do |document| %>
    <li>
        <a href="/documents/<%= document.id %>">
          <%= document.name %>
        </a>
    </li>
    <% end %>
  </ul>

    </form>

</body>
</html>