<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Documents</title>
 <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <a href="/">Home</a>

  <br>
  <br>

  <a href="/documents/search">Search for a Doc</a>


    <br>
    <br>


  <a href="/documents/new">Create a Sickk Doc here</a>

  <br>
  <br>

    <% documents.each do |document| %>
    <li>
        <a href="/documents/<%= document.id %>">
          <%= document.name %>
        </a>
    </li>
    <% end %>
  </ul>

    </form>

</body>
</html>