<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> <%=document.older_title%> </title>
<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <div>
  <%=document.older_title%>

  <%=document.older_content%>
  </div>

</body>
</html>