<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
    <h2>Search results for "<%= name %>"</h2>

      <% results.each do |document| %>

      <li><%= "#{document["name"]} #{document["content"]}" %> </li>
      <% end %>

    </ul>
        <% end %>


</body>
</html>