<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h2>Search results for "<%= search %>"</h2>

    <ul>

      <% results.each do |doc| %>

      <li><a href="/documents/<%=doc.id%>"><%=doc.name%> </a></li>

      <% end %>

    </ul>



</body>
</html>